.profile-error-message {
    margin-top: var(--spacing-medium);
    margin-bottom: 0;
    padding-top: var(--spacing-small);
}

.profile-field {
    text-align: center;
    margin-top: var(--spacing-medium);
}

.profile-delete-warning {
    padding-top: 0;
    margin-top: 0;
    margin-right: var(--spacing-medium);
    margin-left: var(--spacing-medium);
    text-align: center;
}

.profile-delete-button {
    text-decoration: underline;
    margin-right: var(--spacing-medium);
    margin-left: var(--spacing-medium);
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-extra-large);
    cursor: pointer;
    text-align: center;
}