#sort-selector-wrapper {
    max-width: 36rem;
    margin-bottom: var(--spacing-small);
    height: 0;
}

#sort-selector {
    text-align: center;
    cursor: pointer;
    display: block;
    transform: translateY(-100%);
    margin-left: auto;
    margin-right: var(--spacing-small);
}

@media screen and (min-width: 30rem) {
    #sort-selector {
        margin-right: var(--spacing-large);
    }
}